/* https://codepen.io/ychnightder-the-bold/pen/XWKMXNe, 11. Februar 2022 */

.progress{
    position: absolute;
    height: 10px;
    width: 16.5%;
    border: 3px solid #eeaa33;
    box-shadow: 0 0 5px #ffffff;
    border-radius: 15px;
    margin-top: 1%;
    opacity: 0%;
    animation: hide 11s linear;
}
.progress .color{
    position: absolute;
    background-color: white;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progress 10s linear;
}
@keyframes progress{
    0%{
        width: 0%;
        background-color: white;
    }

    10%{background-color: white;}
    20%{background-color: indianred;}
    30%{background-color: white;}
    40%{background-color: indianred;}
    50%{background-color: white;}
    60%{background-color: indianred;}
    70%{background-color: white;}
    80%{background-color: indianred;}
    90%{background-color: white;}
    100%{
        width: 100%;
        background-color: indianred;
    }
}

@keyframes hide {
    0%{
        opacity: 100%;
    }

    90%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
    }

}